.navbar  {
    background-color: 	#04315A;
}

.nav-link {
    color: white;
}

.nav-link:hover {
  background-color: #ff8c00;
  color: white;
}

body {
    background-color: linen;
}

h1 {
    color: #04315A;
}

.form-group {
    padding-left: 0;
}

.help-block { display: none; }
.form-group.has-error .help-block { display: block; }

.radio {
    padding-right: 10px;
}

#submit{
    padding-top: 5px;
}

.input-group{
    flex
}

input{
    text-align: right;
}

canvas {
    width: 50%;
    height: auto;
    margin: auto;
}
.result-font {
    font-size:2vw;
    margin-bottom:0px;
}
.result-number {
    font-size:3vw;
}

 /* .footer*/
 #sticky-footer
  {
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #04315a;
    color: white;
  }


/***/
  #creatinine
  {
    margin-left: 170px;
    margin-top: -19px;
  }

  #creatinine > p
  {
    color:darkblue;
    font-size: .7 rem;
  }
/***/