{% extends "base.html" %}

{% block title %}GFR{% endblock %}

{% block head %}
    {{ super() }}
    <meta http-equiv="x-ua-compatible" content="ie=edge">
{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="https://kidneydietcentral.com/">KDC Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="gfr">GFR Estimator</a>
    </li>

{% endblock %}

{% import 'custom_macro.html' as wtfcustom %}
{% import 'gfr_macro.html' as mm %}
{% block content %}
    {{ super() }}

    <form method="POST" action="/gfr">
        {{ form.csrf_token }}
        <div class="container col-md-6" style="margin-top: 25px">
            <h1>Glomerular Filtration Rate Estimator</h1>
            <div class="form-group">
                {{ mm.gfr_form_field(form.scr)}}
                <div id="creatinine">
                    <p>Creatinine Norm: 0.7 - 1.3 mg/dL</p>
                </div>

                {{ mm.gfr_form_field(form.age) }}
                {{ mm.gfr_form_field(form.sex) }}
                {{ mm.gfr_form_field(form.black) }}
            </div>

            <div class="input-group col-sm-4 col-md-4 d-flex justify-content-center">
                <div class="flex-column">
                    {{ form.submit(class_="btn btn-primary form-control") }}
                    <input type="reset" class="btn btn-secondary form-control" style="margin-top:10px;" value="Reset" />
                </div>
            </div>
        </div>
    </form>

<footer id="sticky-footer">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <small>&copy; 2019 KidneyDietCentral.com - All Rights Reserved</small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                  <small>The equation for this calculator was taken from the National Institute of Diabetes and Digestive and
                        Kidney Diseases (NIDDK) a program of the U.S. Department of Health and Human Services.
                  </small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <small>
                    <a id="terms" href="https://kidneydietcentral.com/terms-conditions")>Terms and Conditions</a>
                    |
                    <a id="privacy" href="https://kidneydietcentral.com/privacy-policy")>Privacy Policy</a>
                    |
                    <a id="something" href="https://kidneydietcentral.com/privacy-policy")>SOMETHING TO CHANGE</a>
                </small>
            </div>
        </div>
    </div>
</footer>







{% endblock %}